body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url("fundo.jpg");
    background-position: center ;
    background-size: 130%;
    overflow: hidden;
    background-color: rgb(150, 221, 221);
}
.fora
{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.nome
{
    display: flex;
    flex-direction: column;
}
.email
{
    display: flex;
    flex-direction: column;
}
.usuario
{
    display: flex;
    flex-direction: column;
}
.status
{
    display: flex;
    flex-direction: column;
}
fieldset
{
    width: 80%;
    height: 10vh;
    background-color: lightgrey;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}
input
{
    width: auto;
    height: 5vh;
}
select
{
    width: auto;
    height: 5vh;
}


header
 {
    width: 100%;
    height: 8vh ;
    background-color:rgb(21, 32, 65);
    display:flex;
    padding: 20px;
    color: rgb(224, 242, 245);
    font-size: 25px;
    font-family: 'Bayon';
    margin: 0%;
    Box-decoration-break: slice;-webkit-box-decoration-break: slice;box-shadow: 8px 8px 10px 0 #131414, -5px -5px 5px 0 rgb(18, 34, 37), 5px 5px 15px 0 rgb(35, 57, 59);
    justify-content: space-between ;
    margin: 2px;   
}
h1{
  font-size: 3rem;
  padding: 0%;
  color: rgb(81, 200, 216);
}
.menu{
  
  display: flex;
  align-items: center;
   height: 8vh;
  flex-direction: row;
  justify-content: space-between;
  width: 80%  ;



}
.icon{
   width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.banco
{
    width: 60%;
    height: 40vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
}
#menuToggle
 {
   display: block;
   position: relative;
   top: 12px;
   left: 50px;
  
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: rgb(81, 200, 216);
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color:    rgb(255, 255, 255);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: rgb(81, 200, 216);
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background:rgb(81, 200, 216);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background:  rgb(21, 32, 65);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }